atomicwrites==1.4.0
attrs==21.4.0
boto3==1.24.17
botocore==1.27.17
certifi==2022.6.15
charset-normalizer==2.0.12
colorama==0.4.5
cycler==0.11.0
deltasigma==0.2.2
elasticsearch==7.13.3
enum34==1.1.10
erpc==1.9.0
fonttools==4.33.3
idna==2.8
importlib-metadata==4.12.0
iniconfig==1.1.1
jmespath==1.0.1
kiwisolver==1.4.3
matplotlib==3.5.2
nsrt-mk3-dev==1.0.0
numpy==1.23.0
packaging==21.3
pandas==1.4.3
Pillow==9.1.1
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
pyserial==3.5
pytest==7.1.2
python-dateutil==2.8.2
pytz==2022.1
requests==2.22.0
RPi.GPIO==0.7.1
s3transfer==0.6.0
SciPy==1.8.1
six==1.16.0
spidev==3.5
toml==0.10.2
tomli==2.0.1
typing-extensions==4.2.0
u-msgpack-python==2.7.1
urllib3==1.25.11
zipp==3.8.0
