anyio==3.6.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
async-generator==1.10
atomicwrites==1.4.0
attrs==21.4.0
AWSIoTPythonSDK==1.5.2
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
boto3==1.24.17
botocore==1.27.17
certifi==2022.6.15
cffi==1.15.0
chardet==3.0.4
colorama==0.4.5
contextvars==2.4
cycler==0.11.0
dataclasses==0.6
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
deltasigma==0.2.2
elasticsearch==7.13.3
entrypoints==0.4
enum34==1.1.10
erpc==1.9.0
executing==0.8.3
fastjsonschema==2.15.3
fonttools==4.33.3
idna==2.8
imageio==2.19.3
immutables==0.18
importlib-metadata==4.12.0
iniconfig==1.1.1
ipykernel==6.15.0
ipynb==0.5.1
ipysheet==0.5.0
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.1
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
json5==0.9.8
jsonschema==4.6.0
jupyter-client==7.3.4
jupyter-core==4.10.0
jupyter-server==1.18.0
jupyterlab==3.4.3
jupyterlab-pygments==0.2.2
jupyterlab-server==2.14.0
jupyterlab-widgets==1.1.1
kiwisolver==1.4.3
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mistune==0.8.4
nbclassic==0.3.7
nbclient==0.6.4
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.8.4
notebook==6.4.12
notebook-shim==0.1.0
nsrt-mk3-dev==1.0.0
numpy==1.23.0
packaging==21.3
pandas==1.4.3
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.1.1
pluggy==1.0.0
prometheus-client==0.14.1
prompt-toolkit==3.0.29
psutil==5.9.1
pure-eval==0.2.2
py==1.11.0
pycparser==2.21
Pygments==2.12.0
pyparsing==3.0.9
pyrsistent==0.18.1
pyserial==3.5
pytest==7.1.2
python-dateutil==2.8.2
pytz==2022.1
PyWavelets==1.3.0
pywin32==304
pywinpty==2.0.5
pyzmq==23.2.0
requests==2.22.0
requests-unixsocket==0.3.0
s3transfer==0.6.0
scikit-image==0.19.3
scipy==1.8.1
Send2Trash==1.8.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.2.post1
stack-data==0.3.0
terminado==0.15.0
testpath==0.6.0
tifffile==2022.5.4
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
tornado==6.1
traitlets==5.3.0
typing-extensions==4.2.0
u-msgpack-python==2.7.1
urllib3==1.25.11
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.3
widgetsnbextension==3.6.1
zipp==3.8.0
